{% extends 'base.html.twig' %}

{% block header_title %}

    <h1>Modifier le rôle de <strong>{{ user.username }}</strong></h1>
    <p>Actuellement disposant d'un rôle

        {% if user.roles[0] == 'ROLE_ADMIN' %}
            administrateur
        {% elseif user.roles[0] == 'ROLE_USER' %}
            utilisateur
        {% endif %}</p>

{% endblock %}

{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
